.panel-container {
  &.open {
    .panel {
      &.left,
      &.right {
        transform: translateX(0);
      }
    }
    .backdrop {
      visibility: visible;
    }
  }

  .backdrop {
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0.6;
    pointer-events: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 999;
  }

  .panel {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow: auto;
    position: fixed;
    transition: transform 0.3s ease;
    width: 30%;
    z-index: 1000;

    &.left {
      left: 0;
      top: 0;
      transform: translateX(-100%);
    }

    &.right {
      right: 0;
      top: 0;
      transform: translateX(100%);
    }
  }
}
