.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    gap: 8px;

    input {
      height: 18px;
      width: 18px;
    }
  }
}
