.form-step {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .label {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 4px;

    span {
      color: #1d2433;
      font-weight: 600;
    }

    svg {
      color: #1d2433cc;
    }
  }

  input {
    border: 1px solid #e1e6ef;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    padding: 8px 9px;
  }
}
